*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-image: url(https://i.postimg.cc/BsqwVj0B/Stars-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.sun{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url(https://w7.pngwing.com/pngs/16/608/png-transparent-sun-the-sun-sunscreen-light-sphere-sun-image-file-formats-orange-sphere-thumbnail.png);
    /* background-color: yellow; */
    background-position: center;
    background-size:125%;
    box-shadow: -4px 2px 50px rgb(203, 208, 60);
    /* left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);      This can also be used display items centre*/
    position: absolute;
}
.mercury{
    height: 20px;
    width:  20px;
    position: absolute;
    border-radius: 50%;
    left: 43%;
    top: 42%;
    background-image: url(https://w7.pngwing.com/pngs/300/628/png-transparent-earth-mercury-apparent-retrograde-motion-planet-earth-atmosphere-sphere-outer-space-thumbnail.png);
    background-position: center;
    background-size: cover;
    animation: orbitm 2s linear infinite;
}
@keyframes orbitm {
    from{transform:rotate(0deg) translateX(70px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(70px) rotate(-360deg)}
}
p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: -62px;
    top: -11px;
}
.mercury-outline,.venus-outline-1,.earth-outline-1,.mars-outline-1,.jupiter-outline-1,.saturn-outline-1,.uranus-outline-1,.neptune-outline-1{
    border-radius: 50%;
    border: 1px dotted white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mercury-outline{
    height: 140px;
    width: 140px;
}

.venus{
    height: 40px;
    width:  40px;
    position: absolute;
    border-radius: 50%;
    left: 40%;
    top: 42%;
    background-image: url(https://w7.pngwing.com/pngs/476/53/png-transparent-venus-fashion-venus-sphere-venus-astronomical-object-thumbnail.png);
    background-position: center;
    background-size: cover;
    animation: orbitv 10s linear infinite;
}

@keyframes orbitv {
    from{transform:rotate(0deg) translateX(100px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(100px) rotate(-360deg)}
}

.venus-outline-1{
    height: 200px;
    width: 200px;
}

.earth{
    height: 50px;
    width:  50px;
    position: absolute;
    border-radius: 50%;
    left: 44%;
    top: 43%;
    background-image: url(https://w7.pngwing.com/pngs/580/212/png-transparent-earth-file-formats-earth-image-file-formats-globe-atmosphere-thumbnail.png);
    background-position: center;
    background-size: cover;
    animation: orbite 20s linear infinite;
}

@keyframes orbite {
    from{transform:rotate(0deg) translateX(150px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(150px) rotate(-360deg)}
}

.earth-outline-1{
    height: 300px;
    width: 300px;
}

.earth-circle{
    height: 65px;
    width:  65px;
    border: 1px dotted #fff;
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 40px;
}

.earth-inner{
    height: 10px;
    width: 10px;
    background-image: url(https://w7.pngwing.com/pngs/618/70/png-transparent-moon-moon-atmosphere-monochrome-sphere-thumbnail.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 45%;
    top: 45%;
    animation: orbitem 3s linear infinite;
}

@keyframes orbitem {
    from{transform:rotate(0deg) translateX(33px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(33px) rotate(-360deg)}
}

.mars{
    height: 30px;
    width:  30px;
    position: absolute;
    border-radius: 50%;
    left: 46.5%;
    top: 46.5%;
    background-image: url(https://w7.pngwing.com/pngs/16/806/png-transparent-planet-mars-illustration-earth-terrestrial-planet-mars-solar-system-mars-sphere-venus-astronomical-object-thumbnail.png);
    background-position: center;
    background-size: cover;
    animation: orbitma 30s linear infinite;
}

@keyframes orbitma {
    from{transform:rotate(0deg) translateX(185px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(185px) rotate(-360deg)}
}

.mars-outline-1{
    height: 370px;
    width: 370px;
}

.jupiter{
    height: 40px;
    width:  40px;
    position: absolute;
    border-radius: 50%;
    left: 45%;
    top: 45%;
    background-image: url(https://w7.pngwing.com/pngs/552/71/png-transparent-agar-io-jupiter-planet-solar-system-jupiter-solar-system-saturn-great-red-spot-thumbnail.png);
    background-position: center;
    background-size: cover;
    animation: orbitj 60s linear infinite;
}

@keyframes orbitj {
    from{transform:rotate(0deg) translateX(217px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(217px) rotate(-360deg)}
}

.jupiter-outline-1{
    height: 430px;
    width: 430px;
}

.saturn{
    height: 50px;
    width:  50px;
    position: absolute;
    border-radius: 50%;
    left: 46.5%;
    top: 46.5%;
    background-image: url(https://i.pinimg.com/736x/65/44/42/6544426207b93738e1d5bbf6e3c7b569.jpg);
    background-position: center;
    background-size: 350%;
    animation: orbits 90s linear infinite;
}

@keyframes orbits {
    from{transform:rotate(0deg) translateX(250px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(250px) rotate(-360deg)}
}

.saturn-outline-1{
    height: 500px;
    width: 500px;
}

.uranus{
    height: 30px;
    width:  30px;
    position: absolute;
    border-radius: 50%;
    left: 48%;
    top: 48%;
    background-image: url(https://w7.pngwing.com/pngs/761/864/png-transparent-blue-planet-ice-planet-uranus-mercury-neptune-planets-miscellaneous-atmosphere-computer-wallpaper-thumbnail.png);
    background-position: center;
    background-size: 110%;
    animation: orbitu 200s linear infinite;
}

@keyframes orbitu {
    from{transform:rotate(0deg) translateX(280px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(280px) rotate(-360deg)}
}

.uranus-outline-1{
    height: 560px;
    width: 560px;
}

.neptune{
    height: 30px;
    width:  30px;
    position: absolute;
    border-radius: 50%;
    left: 48%;
    top: 48%;
    background-image: url(https://w7.pngwing.com/pngs/277/913/png-transparent-neptune-planet-solar-system-venus-uranus-harbor-seal-purple-blue-animals-thumbnail.png);
    background-position: center;
    background-size: 120%;
    animation: orbitn 400s linear infinite;
}

@keyframes orbitn {
    from{transform:rotate(0deg) translateX(310px) rotate(0deg)}
    to{transform:rotate(360deg) translateX(310px) rotate(-360deg)}
}

.neptune-outline-1{
    height: 620px;
    width: 620px;
}